@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "TestBlog2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="blog-landing-page-main-header">
    <div class="blog-main-header container-fluid">
        <h1 class="blog-landing-page-main-header-text">
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
            We Are Thieves Blog
            <span>We Are Thieves Blog</span>
        
        
        </h1>
        @*<h1 class="blog-landing-page-main-header-text"><span>We Are Thieves Blog</span></h1>
        <h1 class="blog-landing-page-main-header-text">We Are Thieves Blog</h1>*@
    </div>
</section>

<section class="blog-landing">
    <div class="outer container-fluid">
        <div class="inner container-fluid" id="post-container">
            <article class="post">
                <div class="post__thumb">
                    
                </div>
                <div class="post__text">
                    <div class="wrap">
                        <div class="inner-bg">
                            <a href="" class="post__link">Esports</a>
                            <h3>
                                <a class="" href="">100T kicks off VCT Americas</a>
                            </h3>
                            <div class="post__author">
                                <div class="author__text">
                                    <a class="author__name" title="Posts by Peter Park" rel="author" href="">Peter Park</a>
                                    <div class="time published" datetime="2023-04-17" title="April 17, 2023">April 17, 2023</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="inner container-fluid" id="something">

        </div>
    </div>
    
</section>


<section class="blog-post">
    <div class="blog-post-wrap outer container">

        <div class="blog-post-heading-section">
            <div class="blog-post-heading">
                <h2>
                    Latest News
                    
                    <span class="bp-headline">Latest News</span>
                </h2>
            </div>
            <div class="blog-post-subtitle">
                <div class="blog-post-subtitle-text">
                    <h3>Most up to date news around the organization</h3>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section class="">
    <div class="wrapper static container" >

        <!-- Blog Post Entrees Start -->
        <div class="flex column" id="blog-post-entrees">
            <!-- Blog Post 1 Start -->
            <article class="blog-post-2" id="featured">
                <div class="example-1 card col-sm-5" id="blog-post-entree">
                    <div class="wrapper" id="cryo-post">
                        <div class="date">
                            <span class="day">12</span>
                            <span class="month">Aug</span>
                            <span class="year">2016</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author">Jane Doe</span>
                                <h1 class="title"><a href="#">Everything You Need to Know About Gold Medals</a></h1>
                                <p class="text">Olympic gold medals contain only about 1.34 percent gold, with the rest composed of sterling silver.</p>
                                <label for="show-menu" class="menu-button"><span></span></label>
                            </div>
                            <input type="checkbox" id="show-menu" />
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Blog post article text -->
                <div class="blog-text col-sm-7">
                    <h3>100 Thieves Takes on Cloud 9 in VCT</h3>
                    <div class="blog-post-date">
                        <span class="day">12</span>
                        <span class="month">Aug</span>
                        <span class="year">2016</span>
                    </div>
                    <p>
                        Jelly-o chocolate bar muffin jelly beans chocolate wafer gummies. 
                        Liquorice cupcake ice cream macaroon. Biscuit sugar plum wafer. 
                        Marshmallow pie apple pie chocolate bar.Jelly-o chocolate bar 
                        muffin jelly beans chocolate wafer gummies. Liquorice cupcake 
                        ice cream macaroon. Biscuit sugar plum wafer. Marshmallow pie 
                        apple pie chocolate bar.
                    </p>
                </div>

            </article>
            <!-- Blog Post 1 End -->

            <!-- Blog Post 2 Start -->

            <article class="blog-post-2" id="featured">
                <div class="example-1 card col-sm-5" id="blog-post-entree">
                    <div class="wrapper" id="second-post">
                        <div class="date">
                            <span class="day">12</span>
                            <span class="month">Aug</span>
                            <span class="year">2016</span>
                        </div>
                        <div class="data">
                            <div class="content">
                                <span class="author">Jane Doe</span>
                                <h1 class="title"><a href="#">Everything You Need to Know About Gold Medals</a></h1>
                                <p class="text">Olympic gold medals contain only about 1.34 percent gold, with the rest composed of sterling silver.</p>
                                <label for="show-menu" class="menu-button"><span></span></label>
                            </div>
                            <input type="checkbox" id="show-menu" />
                            <ul class="menu-content">
                                <li>
                                    <a href="#" class="fa fa-bookmark-o"></a>
                                </li>
                                <li><a href="#" class="fa fa-heart-o"><span>47</span></a></li>
                                <li><a href="#" class="fa fa-comment-o"><span>8</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>


                <!-- Blog post article text -->
                <div class="blog-text col-sm-7">
                    <h3>100 Thieves Takes on Cloud 9 in VCT</h3>
                    <div class="blog-post-date">
                        <span class="day">12</span>
                        <span class="month">Aug</span>
                        <span class="year">2016</span>
                    </div>
                    <p>
                        Jelly-o chocolate bar muffin jelly beans chocolate wafer gummies.
                        Liquorice cupcake ice cream macaroon. Biscuit sugar plum wafer.
                        Marshmallow pie apple pie chocolate bar.Jelly-o chocolate bar
                        muffin jelly beans chocolate wafer gummies. Liquorice cupcake
                        ice cream macaroon. Biscuit sugar plum wafer. Marshmallow pie
                        apple pie chocolate bar.
                    </p>
                </div>

            </article>

            <!-- Blog Post 2 End -->
        </div>

        <!-- Blog Sidebar Start -->
        <div class="flex static">
            <div class="news-title">
                <h3>Related News</h3>
            </div>
            <div class="example-2 card" id="related-news-blog-article">
                <div class="wrapper" id="related-news-1">
                    <div class="header">
                        <div class="date">
                            <span class="day">12</span>
                            <span class="month">Aug</span>
                            <span class="year">2016</span>
                        </div>

                    </div>
                    <div class="data">
                        <div class="content" id="related-news-text-container">
                            <span class="author">Jane Doe</span>
                            <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                            <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                            <a href="#" class="button">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@*<aside class="related-news-articles">
    <div class="news-title">
        <h3>Related News</h3>
    </div>
    <div class="example-2 card" id="related-news-blog-article">
        <div class="wrapper" id="related-news-1">
            <div class="header">
                <div class="date">
                    <span class="day">12</span>
                    <span class="month">Aug</span>
                    <span class="year">2016</span>
                </div>
                
            </div>
            <div class="data">
                <div class="content" id="related-news-text-container">
                    <span class="author">Jane Doe</span>
                    <h1 class="title"><a href="#">Stranger Things: The sound of the Upside Down</a></h1>
                    <p class="text">The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.</p>
                    <a href="#" class="button">Read more</a>
                </div>
            </div>
        </div>
    </div>
  
</aside>*@

<section class="related-news">
    
</section>

@section Scripts {

}